{% extends "base.html" %}
{% load static i18n compress %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static "images/home-bg.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Django Blog</h1>
                        <span class="subheading">Unleash the power of Django!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in post_list %}
                    <div class="post-preview">
                        <a href="{{ post.get_absolute_url }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.short_description|linebreaks }}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="#">{{ post.user.get_full_name }}</a>
                            on {{ post.publish }}</p>
                    </div>
                {% endfor %}
                <hr>
                <!-- Pager -->
                <div class="clearfix text-center">
                    {% if post_list.has_previous %}
                        <a class="btn btn-secondary" href="?page={{ post_list.next_page_number }}">
                            &larr; Newer Posts
                        </a>
                    {% endif %}
                    <span class="current">
                        Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
                    </span>
                    {% if post_list.has_next %}
                        <a class="btn btn-secondary" href="?page={{ post_list.previous_page_number }}">
                            Older Posts &rarr;
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
