{% extends "base.html" %}
{% load crispy_forms_tags staticfiles i18n %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static "images/post-bg.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="mx-auto">
                    <div class="site-heading">
                        <h1>{{ post.title }}</h1>
                        <span class="subheading">{{ post.short_description|safe }}</span>
                        <p>Posted by <b>{{ post.user.get_full_name }}</b> on <b>{{ post.publish }}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ post.content|safe }}
            </div>
            <div class="col-xs-12 col-lg-12 mx-auto comments">
                <br><br>
                <h2>Comments</h2>
                {% if request.user.is_authenticated %}
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="submit">Add Comment</button>
                        </div>
                    </form>
                {% endif %}
                <hr>
                {% for comment in post.comments %}
                    <div class="post-preview">
                        <small class="post-meta">Comment by
                            <a href="#">{{ comment.user.get_full_name }}</a>
                            on {{ comment.created }}</small>
                        <br>
                        {{ comment.content|linebreaks }}
                    </div>
                    <br>
                {% empty %}
                    Be the first to comment!
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
