@import "_ui/_ui";

body {
  padding-top: $navbar-height;
}

.content {
  min-height: 100vh;
}

.screen-center {
  display: flex;
  min-height: 100vh;
  background-color: #333333;
  align-items: center;
  justify-content: center;
  h1 {
    text-align: center;
  }
}

.socialaccount_providers{
  padding:0;
  margin:0;
}
